{% load staticfiles %}
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="es-ES">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="show-menu-auto-arrows" content="1" />
    <meta name="show-menu-drop-shadows" content="0" />


    <title>NOSOTROS | IEP SAN ANTONIO DE PADUA</title>
    <link rel="shortcut icon" href="{% static '' %}images/sap.ico" type="image/x-icon">
    <!--[if IE 6]>
    <script  type="text/javascript" src="//montessori.edu.pe/wp-content/themes/purevision/scripts/DD_belatedPNG_0.0.8a-min.js"></script>
    <!--<script  type="text/javascript">
        // <![CDATA[
	DD_belatedPNG.fix('.pngfix, img, #home-page-content li, #page-content li, #bottom li, #footer li, #recentcomments li span');
    // ]]>
    </script>
<![endif]-->
<!--- hola prueba aquiel assets"-->
    <link rel='stylesheet' id='front-css-yuzo_related_post-css'  href="{% static '' %}wp-content/plugins/yuzo-related-post/assets/css/style1845.css?ver=4.9.6" type='text/css' media='all' />
    <link rel='stylesheet' id='reset-css'  href="{% static '' %}wp-content/themes/purevision/styles/common-css/reset5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='text-css'  href="{% static '' %}wp-content/themes/purevision/styles/style1/css/text5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='grid-960-css'  href="{% static '' %}wp-content/themes/purevision/styles/common-css/9605152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='superfish_menu-css'  href="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/css/superfish5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='pretty_photo-css'  href="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/css/prettyPhoto583f.css?ver=3.1.3" type='text/css' media='screen' />
    <link rel='stylesheet' id='style-css'  href="{% static '' %}wp-content/themes/purevision/styles/style1/css/style5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='custom-style-css'  href="{% static '' %}wp-content/themes/purevision/styles/custom/custom_style0330.css?ver=3.9.9" type='text/css' media='screen' />
    <script type='text/javascript' src="{% static '' %}wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/cufon/cufon-yuifaf8.js?ver=1.09i"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/cufon/Comfortaa/Comfortaa_400.font5152.js?ver=1.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/js/jquery.prettyPhoto583f.js?ver=3.1.3"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/js/superfish.combined8a54.js?ver=1.0.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/script5152.js?ver=1.0"></script>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='Aula Virtual' href='/aula-virtual' />
    <link rel='next' title='Reseña Histórica' href="/" />
    <link rel='canonical' href='/' />
    <link rel='shortlink' href='/' />
    <script type='text/javascript'>
        window.___gcfg = {lang: 'en'};
        (function()
        {var po = document.createElement('script');
            po.type = 'text/javascript'; po.async = true;po.src = '../../apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();</script>
    <!-- Wordpress SEO Plugin by Mervin Praison ( http://mervin.info/seo-wordpress/ ) -->
    <meta name='description' content='NOSOTROS'/> <meta name='keywords' content='nosotros , iep montessori de villa'/><link rel='canonical' href='index.html' />
    <!-- End of Wordpress SEO Plugin by Mervin Praison -->
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://montessori.edu.pe/wp-content/themes/purevision/styles/common-css/ie-all.css" media="screen" type="text/css" />
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="http://montessori.edu.pe/wp-content/themes/purevision/styles/common-css/ie6-7.css" media="screen" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" href="http://montessori.edu.pe/wp-content/themes/purevision/styles/common-css/ie6.css" media="screen" type="text/css" />
    <style type="text/css">
        body{ behavior: url("http://montessori.edu.pe/wp-content/themes/purevision/scripts/csshover3.htc"); }
    </style>
    <![endif]-->

</head>

<body class="home blog cufon-on">
<div id="wrapper-1" class="pngfix">
    <div id="top-container">
        <div id="top" class="container_24">
            <div id="logo" class="grid_14">
                <h1><a title="COLEGIO PARTICULAR SAN ANTONIO DE PADUA" class="pngfix" href="">COLEGIO PARTICULAR SAN ANTONIO DE PADUA</a></h1>
            </div>
            <div id="slogan" class="grid_17"></div>
            <!-- end logo slogan -->
            <div class="phone-number grid_7 prefix_11">
                Llámanos al Telf: 393 3167</div>
            <!-- end phone-number -->
            <div id="search" class="grid_5">
                <form action="/" method="get">
                    <div class="search_box">
                        <input id="search_field" name="s" type="text" class="inputbox_focus blur pngfix" value="Buscar..." />
                        <input type="submit"  value="" class="search-btn pngfix" />
                    </div>
                </form>
            </div><!-- end search -->
        </div>
        <!-- end top -->
    </div>
    <!-- end top-container -->

    <div class="clear"></div>

    <div id="main-menu" class="pngfix">
        <div id="dropdown-holder" class="container_24">
            <!-- Begin: pre-load menu images --><img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-btn_l.png') }}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-btn_r.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-with-arrow-btn_r.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-btn_l.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-btn_r.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-with-arrow-btn_r.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/images/auto-arrows.png')}}" alt="menu image pre-loader" class="hide-preloaded-images" />
            <!-- End: pre-load menu images -->
           <div id="navigation-menu" class="navigation-menu">
                <ul id="menu-menu-superior" class="sf-menu">
                    <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-26"><a href="{% url 'inicio' %}"><span>Inicio</span></a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29"><a href="{% url 'nosotros' %}"><span>Nosotros</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="{% url 'vision' %}"><span>Misión y Visión</span></a></li>
                            <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="{% url 'mensaje' %}"><span>Mensaje del Director</span></a></li>
                            <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="{% url 'plan' %}"><span>Plan de Estudios</span></a></li>
                            <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="{% url 'resena' %}"><span>Reseña Histórica</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"><a href="{% url 'admision' %}"><span>Admisión</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="{% url 'inicial' %}"><span>Educación Inicial</span></a></li>
                            <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="{% url 'primaria' %}"><span>Educación Primaria</span></a></li>
                            <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="{% url 'secundaria' %}"><span>Educación Secundaria</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-51"><a href="{% url 'talleres' %}"><span>Talleres</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="{% url 'computacion' %}"><span>Computación</span></a></li>
                            <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="{% url 'educacion' %}"><span>Educación Física</span></a></li>
                            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="{% url 'ingles' %}"><span>Inglés Intensivo</span></a></li>

                            <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="{% url 'karate' %}"><span>Karate</span></a></li>
                            <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="{% url 'ballet' %}"><span>Ballet</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="{% url 'noticias' %}"><span>Noticias</span></a></li>
                    <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="{% url 'galeria' %}"><span>Galería</span></a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="{% url 'aula-virtual' %}"><span>Aula Virtual</span></a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="{% url 'contacto' %}"><span>Contacto</span></a></li>
                </ul></div>	   </div>
        <!-- end dropdown-holder -->
    </div>
    <!-- end main-menu -->

    <div class="clear"></div>

{% block contenido %}{% endblock %}
    <div class="clear"></div>

    <div id="bottom-bg">
        <div id="bottom" class="container_24">
            <div class="bottom-content-padding">
                <div id='bottom_1' class='one_fourth'><div class='column-content-wrapper'><div class='widget yuzo_widget_wrap'><h3 class='widget-title'><span>Noticias</span></h3><div class='yuzo_related_post_widget style-2' >

                            <style>
                                .yuzo_related_post_widget .relatedthumb { background: !important; -webkit-transition: background 0.2 s linear; -moz-transition: background 0.2 s linear; -o-transition: background 0.2 s linear; transition: background 0.2 s linear; }.yuzo_related_post_widget .relatedthumb:hover{background:#3d3734 !important; -webkit-transition: background 0.2 s linear; -moz-transition: background 0.2 s linear; -o-transition: background 0.2 s linear; transition: background 0.2 s linear;}.yuzo_related_post_widget .relatedthumb:hover{background:#3d3734 !important;;}
                                .yuzo_related_post_widget .yuzo_text {color:#777777;}
                                .yuzo_related_post_widget .relatedthumb a{color:#444444;}
                                .yuzo_related_post_widget .relatedthumb{  margin: 0px  0px  0px  0px!important;   padding: 5px  0px  5px  5px!important;  }

                            </style>
                        </div></div></div><!-- end bottom_1 --><!-- end bottom_2 --><div id='bottom_3' class='one_fourth'><div class='column-content-wrapper'><div class="bottom-col-content widget_nav_menu custom-formatting">
                            <h3 class="bottom-col-title">Recomendados</h3><div class="menu-menu-de-pie-de-pagina-container"><ul id="menu-menu-de-pie-de-pagina" class="menu">
                                    <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-166"><a href="{% url 'inicio' %}">Inicio</a></li>
                                    <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="{% url 'admision' %}">Admisión</a></li>
                                    <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="{% url 'aula-virtual' %}">Aula Virtual</a></li>
                                    <li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="{% url 'contacto' %}">Contacto</a></li>
                                    <li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="{% url 'galeria' %}">Galería</a></li>
                                    <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="{% url 'noticias' %}">Noticias</a></li>
                                    <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="{% url 'talleres' %}">Talleres</a></li>
                                </ul></div></div></div></div><!-- end bottom_3 --><div id='bottom_4' class='one_fourth last_column'><div class='column-content-wrapper'>


                            </ul>
                        </div></div></div><!-- end bottom_4 -->		    </div>
            <!-- end bottom-content-padding -->
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/iepsap/" data-tabs="IEP San Antonio de Padua" data-width="400" data-height="120" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/iepsap/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iepsap/">IEP San Antonio de Padua</a></blockquote></div>
        <!-- end bottom -->
    </div>
    <!-- end bottom-bg -->

    <div class="clear"></div>




    <div id="footer-bg">
        <div id="footer" class="container_24 footer-top">
            <div id="footer_text" class="grid_20">
                <p>
                    © 2016 <strong> Karen Nicolle Ames Vilca</strong>
                </p>
            </div>
            <div class="back-to-top">
                <a href="#top">Ir arriba</a>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <style>
    .yuzo_related_post{}
        .yuzo_related_post
    .relatedthumb{}
    </style>
   <script type='text/javascript' src="{% static '' %}wp-includes/js/comment-reply.min0330.js?ver=3.9.9"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/plugins/yuzo-related-post/assets/js/jquery.equalizer1845.js?ver=4.9.6"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/custom_params583f.js?ver=3.1.3"></script>
</div><!-- end wrapper-1 -->
<script type="text/javascript"> Cufon.now(); </script>
</body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Mirrored from .edu.pe/nosotros/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Nov 2015 01:59:51 GMT -->
</html>