{% load staticfiles %}
    {% load cloudinary %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="show-menu-auto-arrows" content="1" />
    <meta name="show-menu-drop-shadows" content="0" />

    <title>:: IEP SAN ANTONIO DE PADUA ::</title>

    <link rel="shortcut icon" href="{% static '' %}images/sap.ico" type="image/x-icon">
    <link rel="pingback" href="xmlrpc.php" />


    <link rel='stylesheet' id='front-css-yuzo_related_post-css'  href="{% static '' %}wp-content/plugins/yuzo-related-post/assets/css/style1845.css?ver=4.9.6" type='text/css' media='all' />
    <link rel='stylesheet' id='reset-css'  href="{% static '' %}wp-content/themes/purevision/styles/common-css/reset5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='text-css'  href="{% static '' %}wp-content/themes/purevision/styles/style1/css/text5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='grid-960-css'  href="{% static '' %}wp-content/themes/purevision/styles/common-css/9605152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='superfish_menu-css'  href="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/css/superfish5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='pretty_photo-css'  href="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/css/prettyPhoto583f.css?ver=3.1.3" type='text/css' media='screen' />
    <link rel='stylesheet' id='style-css'  href="{% static '' %}wp-content/themes/purevision/styles/style1/css/style5152.css?ver=1.0" type='text/css' media='screen' />
    <link rel='stylesheet' id='custom-style-css'  href="{% static '' %}wp-content/themes/purevision/styles/custom/custom_style0330.css?ver=3.9.9" type='text/css' media='screen' />
    <!-- script-->
    <script type='text/javascript' src="{% static '' %}'wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/cufon/cufon-yuifaf8.js?ver=1.09i"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/cufon/Comfortaa/Comfortaa_400.font5152.js?ver=1.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/sliders/flashmo/grid_slider/swfobjectdc8c.js?ver=2.2"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/js/jquery.prettyPhoto583f.js?ver=3.1.3"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/js/superfish.combined8a54.js?ver=1.0.0"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/script5152.js?ver=1.0"></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />

    <script type='text/javascript'>
        window.___gcfg = {lang: 'en'};
        (function()
        {var po = document.createElement('script');
            po.type = 'text/javascript'; po.async = true;po.src = '../apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();</script>


</head>


<body class="home blog cufon-on">
<div id="wrapper-1" class="pngfix">
    <div id="top-container">
        <div id="top" class="container_24">
            <div id="logo" class="grid_14">
                <h1><a title="COLEGIO PARTICULAR SAN ANTONIO DE PADUA" class="pngfix" href="/">COLEGIO PARTICULAR SAN ANTONIO DE PADUA</a></h1>
            </div>
            <div id="slogan" class="grid_17"></div>

            <div class="phone-number grid_7 prefix_11">
                Llámanos al Telf: 393 3167</div>

            <div id="search" class="grid_5">
                <form action="#" method="get">
                    <div class="search_box">
                        <input id="search_field" name="s" type="text" class="inputbox_focus blur pngfix" value="Buscar..." />
                        <input type="submit"  value="" class="search-btn pngfix" />
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="clear"></div>

    <div id="main-menu" class="pngfix">
        <div id="dropdown-holder" class="container_24">

            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-btn_l.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-btn_r.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-active-with-arrow-btn_r.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-btn_l.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-btn_r.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/styles/style1/images/menu-with-arrow-btn_r.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <img src="{% static '' %}wp-content/themes/purevision/scripts/superfish-1.4.8/images/auto-arrows.png" alt="menu image pre-loader" class="hide-preloaded-images" />
            <!-- End: pre-load menu images -->
            <div id="navigation-menu" class="navigation-menu">
                <ul id="menu-menu-superior" class="sf-menu">
                    <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-26"><a href="{% url 'inicio' %}"><span>Inicio</span></a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29"><a href="{% url 'nosotros' %}"><span>Nosotros</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="{% url 'vision' %}"><span>Misión y Visión</span></a></li>
                            <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="{% url 'mensaje' %}"><span>Mensaje del Director</span></a></li>
                            <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="{% url 'plan' %}"><span>Plan de Estudios</span></a></li>
                            <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="{% url 'resena' %}"><span>Reseña Histórica</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"><a href="{% url 'admision' %}"><span>Admisión</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="{% url 'inicial' %}"><span>Educación Inicial</span></a></li>
                            <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="{% url 'primaria' %}"><span>Educación Primaria</span></a></li>
                            <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="{% url 'secundaria' %}"><span>Educación Secundaria</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-51"><a href="{% url 'talleres' %}"><span>Talleres</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="{% url 'computacion' %}"><span>Computación</span></a></li>
                            <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="{% url 'educacion' %}"><span>Educación Física</span></a></li>
                            <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="{% url 'ingles' %}"><span>Inglés Intensivo</span></a></li>

                            <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="{% url 'karate' %}"><span>Karate</span></a></li>
                            <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="{% url 'ballet' %}"><span>Ballet</span></a></li>
                        </ul>
                    </li>
                          <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="{% url 'noticias' %}"><span>Noticias</span></a></li>
                    <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="{% url 'galeria' %}"><span>Galería</span></a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="{% url 'aula-virtual' %}"><span>Aula Virtual</span></a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="{% url 'contacto' %}"><span>Contacto</span></a></li>
                </ul></div>  </div>
        <!-- end dropdown-holder -->
    </div>






    <div class="clear"></div>


    <!-- - - - - - - - - - - -  slider - - - - - - - - - - - - - - - - -->

    <div id="gs-header">
        <div id="header-content">

            <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 48px;">
                <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                    <ul class="amazingslider-slides" style="display:none;">
                        <li><img src="{% static '' %}images/6.png" data-description="I.E.P. SAN ANTONIO DE PADUA" />
                        </li>
                        <li><img src="{% static '' %}images/3.png" alt="NUESTROS PROFESORES 2015"  title="NUESTROS PROFESORES 2015" data-description="INICIAL - PRIMARIA - SECUNDARIA" />
                        </li>
                        <li><img src="{% static '' %}images/9.png" alt="* ESCOLTA OFICIAL 2015 *"  title="* ESCOLTA OFICIAL 2015 *" data-description="Nivel : Secundario" />
                        </li>
                        <li><img src="{% static '' %}images/1.png" alt="FIESTRAS PATRIAS"  title="FIESTRAS PATRIAS" data-description="Junto al lado de nuestro Dr. Jesús Ordoñes Alvarez" />
                        </li>
                        <li><img src="{% static '' %}images/10.png" alt="CAMPEÓN DE CAMPEONES"  title="CAMPEÓN DE CAMPEONES" />
                        </li>
                        <li><img src="{% static '' %}images/2.png" data-description="FELIZ DIA DEL MAESTRO ANTONIANO" />
                        </li>
                    </ul>
                    <ul class="amazingslider-thumbnails" style="display:none;">
                        <li><img src="{% static '' %}images/6-tn.png" /></li>
                        <li><img src="{% static '' %}images/3-tn.png" alt="NUESTROS PROFESORES 2015" title="NUESTROS PROFESORES 2015" /></li>
                        <li><img src="{% static '' %}images/9-tn.png" alt="* ESCOLTA OFICIAL 2015 *" title="* ESCOLTA OFICIAL 2015 *" /></li>
                        <li><img src="{% static '' %}images/1-tn.png" alt="FIESTRAS PATRIAS" title="FIESTRAS PATRIAS" /></li>
                        <li><img src="{% static '' %}images/10-tn.png" alt="CAMPEÓN DE CAMPEONES" title="CAMPEÓN DE CAMPEONES" /></li>
                        <li><img src="{% static '' %}images/2-tn.png" /></li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="clear"></div>
        <div id="gs-shadow" class="container_24 pngfix"> </div>
    </div>

    <!-- - - - - - - - - - - -  fin slider - - - - - - - - - - - - - - - - -->

    <div class="clear"></div>
    <div id="before-content">
        <div id="before-content-column" class="container_24">
            <div class="home-page-divider pngfix"></div>
            <div id='before-cont-box-1' class='column_3_of_3 home-cont-box'>
                <div class='column-content-wrapper'>
                    <div class="cont_col_1 widget_text substitute_widget_class">
                        <div class="textwidget"><blockquote> Educando con valores y tecnología para un Perú con futuro </blockquote>
                        </div>
                    </div>
                    <div class="cont_col_1 widget_text substitute_widget_class">
                        <div class="textwidget">
                            <div class="textwidget">
                                <div class="two_third">
                                    <h2 style="color: #43788f; margin-top: 2px; line-height: 1; font-size: 32px !important;"></h2>
                                    <h2 style="color: #43788f; margin-top: 2px; line-height: 1; font-size: 32px !important;">Bienvenidos a la IEP. "San Antonio de Padua"</h2>




                                </div>
                                <div class="one_third last_column">
                                    <div style="margin-top: 10px;"><a title="Nosotros" href="#"><img class="alignright" src="{% static '' %}images/matricula.png" alt="MATRÍCULA 2016" /></a></div>
                                </div>
                            </div></div>
                    </div><div class="cont_col_1 widget_text substitute_widget_class">			<div class="textwidget">

                            <!-- BLOQUE 1 -->
                            <div class="one_fourth">
                                <h4>Exigencia Académica</h4>
                                <img class="alignleft" src="{% static '' %}images/lapiz.png" alt="image" />
                                La meta que nos trazamos es que todos los estudiantes reciban una educación de calidad

                            </div>
                            <!-- BLOQUE 2 -->
                            <div class="one_fourth">
                                <h4>Dedicación al 100%</h4>
                                <img class="alignleft" src="{% static '' %}images/pencil.png" alt="image" />
                                Todos nuestros maestros son capacitados con las últimas tendencias de la Educación

                            </div>
                            <!-- BLOQUE 3 -->
                            <div class="one_fourth">
                                <h4>Premiación al logro</h4>
                                <img class="alignleft" src="{% static '' %}images/light.png" alt="image" />
                                Todos nuestros estudiantes son reconocidos por obtener alto rendimiento

                            </div>
                            <!-- BLOQUE 4 -->
                            <div class="one_fourth last_column">
                                <h4>Clases en Línea</h4>
                                <img class="alignleft" src="{% static '' %}images/wp.png" alt="image" />
                                Todos nuestro estudiantes ahora recibirán clases a través de nuestra plataforma virtual

                            </div>
                            <div class="clear">
                            </div>
                        </div>
                    </div></div></div>
            <div class="home-page-divider pngfix"></div>
        </div>

    </div>

    <div class="clear"></div>


    <div id="home-page-content">


        <div id="content-container" class="container_24">
            <div id="main-content" class="grid_24">
                <div class="main-content-padding">

  {% for noticias in noticias %}
                    <div id='cont-box-1' class='one_third home-cont-box'>
                        <div class='column-content-wrapper'>
                            <div class="cont_col_1 widget_text substitute_widget_class">
                                <div class="textwidget">
                                    <div class="one_third">
                                        <span class="custom-frame alignleft frame-shadow">
                                           {% cloudinary noticias.imagen PROYECTOS %}

                                        </span>

                                        <div style="float: left; margin-bottom: 10px;">
                                            <h4><canvas style="width: 92px; height: 25px; top: -4px; left: -2px;" width="92" height="25"></canvas>{{noticias.titulo}}</h4>
                                            {{noticias.descripcion}}
                                        </div>
                                        <div class="clear"></div>
                                        <a class="pngfix small-dark-button align-btn-left" title="Read More" href="/"><span class="pngfix">Leer Más</span></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

    <div class="clear"></div>

    <div id="bottom-bg">
        <div id="bottom" class="container_24">
            <div class="bottom-content-padding">
                <div id='bottom_1' class='one_fourth'><div class='column-content-wrapper'><div class='widget yuzo_widget_wrap'><h3 class='widget-title'></h3><div class='yuzo_related_post_widget style-2' >

                                </div>


                            <style>
                                .yuzo_related_post_widget .relatedthumb { background: !important; -webkit-transition: background 0.2 s linear; -moz-transition: background 0.2 s linear; -o-transition: background 0.2 s linear; transition: background 0.2 s linear; }.yuzo_related_post_widget .relatedthumb:hover{background:#3d3734 !important; -webkit-transition: background 0.2 s linear; -moz-transition: background 0.2 s linear; -o-transition: background 0.2 s linear; transition: background 0.2 s linear;}.yuzo_related_post_widget .relatedthumb:hover{background:#3d3734 !important;;}
                                .yuzo_related_post_widget .yuzo_text {color:#777777;}
                                .yuzo_related_post_widget .relatedthumb a{color:#444444;}
                                .yuzo_related_post_widget .relatedthumb{  margin: 0px  0px  0px  0px!important;   padding: 5px  0px  5px  5px!important;  }

                            </style>


                <div id='bottom_3' class='one_fourth'>
                    <div class='column-content-wrapper'>
                        <div class="bottom-col-content widget_nav_menu custom-formatting">
                                <ul id="menu-menu-de-pie-de-pagina" class="menu">
                                    <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-166"><a href="{% url 'inicio' %}">Inicio</a></li>
                                    <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="{% url 'admision' %}">Admisión</a></li>
                                    <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="{% url 'aula-virtual' %}">Aula Virtual</a></li>
                                    <li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="{% url 'contacto' %}">Contacto</a></li>
                                    <li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="{% url 'galeria' %}">Galería</a></li>
                                    <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="{% url 'noticias' %}">Noticias</a></li>
                                    <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="{% url 'talleres' %}">Talleres</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end bottom_3 -->



                <div id='bottom_4' class='one_fourth last_column'>
                    <div class='column-content-wrapper'>
                        <div class="bottom-col-content loginform custom-formatting">

                        </div>
                    </div>
                </div><!-- end bottom_4 -->

            </div>

        </div>
<div class="fb-page" data-href="https://www.facebook.com/iepsap/" data-tabs="IEP San Antonio de Padua" data-width="400" data-height="120" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/iepsap/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iepsap/">IEP San Antonio de Padua</a></blockquote></div>
    </div>

    <div class="clear"></div>




    <div id="footer-bg">
        <div id="footer" class="container_24 footer-top">
            <div id="footer_text" class="grid_20">
                <p>
                    © 2016 <strong> Karen Nicolle Ames Vilca</strong>
                </p>
            </div>
            <div class="back-to-top">
                <a href="#top">Ir arriba</a>
            </div>
        </div>
    </div>

    <div class="clear"></div>



    <style>.yuzo_related_post{}
        .yuzo_related_post .relatedthumb{}</style>
    <link rel='stylesheet' id='style-name-css'  href="{% static '' %}wp-content/plugins/homepage-pop-up/css/mlab_popup0330.css?ver=3.9.9" type='text/css' media='all' />
    <script type='text/javascript' src="{% static '' %}wp-content/plugins/yuzo-related-post/assets/js/jquery.equalizer1845.js?ver=4.9.6"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/themes/purevision/scripts/prettyPhoto/custom_params583f.js?ver=3.1.3"></script>
    <script type='text/javascript' src="{% static '' %}wp-content/plugins/homepage-pop-up/js/mlab_popup8a54.js?ver=1.0.0"></script>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="{% static '' %}sliderengine/jquery.js"></script>
<script src="{% static '' %}sliderengine/amazingslider.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '' %}sliderengine/amazingslider-1.css">
<script src="{% static '' %}sliderengine/initslider-1.js"></script>

</html>