{% extends 'base_principal.html' %}
{% block contenido %}
{% load staticfiles %}


    <div id="page-content-title">
        <div id="page-content-header" class="container_24">
            <div id="page-title">
                <h1>Contacto</h1>
            </div>
            <!-- end page-title -->
        </div>
        <!-- end page-content-header -->
    </div>
    <!-- end page-content-title -->

    <div class="clear"></div>

    <div id="page-content">
        <div class="container_24">
            <p class="breadcrumbs"><span class="breadcrumb_info">Usted está en: </span> <a href="../index.html">Inicio</a><span class="breadarrow"> &raquo; </span><span class='current_crumb'>Contacto </span></p>			</div>




        <div id="content-container" class="container_24">
            <div id="main-content" class="grid_16 push_8">
                <div class="main-content-padding">
                    <div class="post" id="post-22">
                        <div class="entry">
                            <p style="color: #090909;"><a href="{% static '' %}images/contacto_padua.png" rel="wp-prettyPhoto[22]"><img class="size-full wp-image-207 aligncenter" src="{% static '' %}images/contacto_padua.png" alt="contacto_padua" width="599" height="202" /></a></p>
                            <p style="color: #090909;"><strong style="font-style: inherit;">Puedes encontrarnos en el  la Urb. Mariscal Cáceres en el Jr. Bartolomé Mz A5 Lt. 18, 19 </strong><br />
                                <b>San Juan de Lurigancho</b><br />
                                <strong style="font-style: inherit;">Lima - Perú</strong></p>
                            <p style="color: #090909;">También te puedes poner en contacto con nosotros al telefono +<strong>511  393-3167</strong> ó al email <strong>iep.sap.11@gmail.com</strong></p>
                            <p style="color: #090909;">Si utilizas el formulario de contacto, por favor, deja tus datos en el formulario incluido teléfono con tus dudas y/o consultas. Nos pondremos en contacto contigo lo antes posible.</p>
                            <p style="color: #090909;">Síguenos en: <a title="Facebook San Antonio de Padua" href=" //www.facebook.com/iepsap/" target="_blank"><img class="alignnone size-full wp-image-160" src="{% static '' %}images/iconfacebook.png" alt="iconfacebook" width="32" height="32" /></a><a title="Facebook San Antonio de Padua" href="https://twitter.com/IepSap" target="_blank"><img class="alignnone size-full wp-image-160" src="{% static '' %}images/icontwitter.png" alt="iconfacebook" width="32" height="32" /></a></p>



                        </div>
                    </div>
                    <br />

                    <div class="clear"></div>



                </div><!-- end main-content-padding -->
            </div><!-- end main-content -->




            <div id="sidebar" class="grid_8 pull_16 sidebar-box">
                <div id="sidebarSubnav">

                    <div id="googlemap-widget-2" class="widget widget_googlemap substitute_widget_class"><h3 class="widgettitle">Mapa de Google</h3>

                        <iframe src="//www.google.com/maps/embed?pb=!1m0!3m2!1ses!2spe!4v1450228665150!6m8!1m7!1sPbeEJQPvhxFyt_G3227vJw!2m2!1d-11.959099!2d-76.9843652!3f331.44290065361776!4f3.500601084808281!5f2.9390255321624537" width="280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>	    </div>
            </div><!-- end sidebar -->

        </div>
        <!-- end content-container -->
            <form id='formulario' class="contact_form"method='post' action=''>{% csrf_token %}
                <h2>Contáctenos</h2>
                <div class="grid_6">
					{{formulario.as_p}}
                </div>
                <div class="clearfix"> </div>
                <div class="btn_3">
					<input type='submit' value='Confirmar'/></p>
                </div>
            </form>
{% endblock %}
