{% extends 'base.html' %}
{% block contenido %}<!-- banner -->

<div class="courses_banner">
    <div class="container">
        <h3>Agenda</h3>
        <p class="description">
            Tus valores definen quien eres realmente. Tu identidad real es la suma total de tus valores. - Assegid Habtewold.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Agenda</li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
<div class="courses_box1">
    <div class="container">
        <div class="col-md-4">
            <div class="cal1 cal_2"><div class="clndr"><div class="clndr-controls"><div class="clndr-control-button"><p class="clndr-previous-button">previous</p></div><div class="month">September 2015</div><div class="clndr-control-button rightalign"><p class="clndr-next-button">next</p></div></div><table class="clndr-table" border="0" cellspacing="0" cellpadding="0"><thead><tr class="header-days"><td class="header-day">S</td><td class="header-day">M</td><td class="header-day">T</td><td class="header-day">W</td><td class="header-day">T</td><td class="header-day">F</td><td class="header-day">S</td></tr></thead><tbody><tr><td class="day past adjacent-month last-month calendar-day-2015-08-30"><div class="day-contents">30</div></td><td class="day past adjacent-month last-month calendar-day-2015-08-31"><div class="day-contents">31</div></td><td class="day today calendar-day-2015-09-01"><div class="day-contents">1</div></td><td class="day calendar-day-2015-09-02"><div class="day-contents">2</div></td><td class="day calendar-day-2015-09-03"><div class="day-contents">3</div></td><td class="day calendar-day-2015-09-04"><div class="day-contents">4</div></td><td class="day calendar-day-2015-09-05"><div class="day-contents">5</div></td></tr><tr><td class="day calendar-day-2015-09-06"><div class="day-contents">6</div></td><td class="day calendar-day-2015-09-07"><div class="day-contents">7</div></td><td class="day calendar-day-2015-09-08"><div class="day-contents">8</div></td><td class="day calendar-day-2015-09-09"><div class="day-contents">9</div></td><td class="day event calendar-day-2015-09-10"><div class="day-contents">10</div></td><td class="day event calendar-day-2015-09-11"><div class="day-contents">11</div></td><td class="day event calendar-day-2015-09-12"><div class="day-contents">12</div></td></tr><tr><td class="day event calendar-day-2015-09-13"><div class="day-contents">13</div></td><td class="day event calendar-day-2015-09-14"><div class="day-contents">14</div></td><td class="day calendar-day-2015-09-15"><div class="day-contents">15</div></td><td class="day calendar-day-2015-09-16"><div class="day-contents">16</div></td><td class="day calendar-day-2015-09-17"><div class="day-contents">17</div></td><td class="day calendar-day-2015-09-18"><div class="day-contents">18</div></td><td class="day calendar-day-2015-09-19"><div class="day-contents">19</div></td></tr><tr><td class="day calendar-day-2015-09-20"><div class="day-contents">20</div></td><td class="day event calendar-day-2015-09-21"><div class="day-contents">21</div></td><td class="day event calendar-day-2015-09-22"><div class="day-contents">22</div></td><td class="day event calendar-day-2015-09-23"><div class="day-contents">23</div></td><td class="day calendar-day-2015-09-24"><div class="day-contents">24</div></td><td class="day calendar-day-2015-09-25"><div class="day-contents">25</div></td><td class="day calendar-day-2015-09-26"><div class="day-contents">26</div></td></tr><tr><td class="day calendar-day-2015-09-27"><div class="day-contents">27</div></td><td class="day calendar-day-2015-09-28"><div class="day-contents">28</div></td><td class="day calendar-day-2015-09-29"><div class="day-contents">29</div></td><td class="day calendar-day-2015-09-30"><div class="day-contents">30</div></td><td class="day adjacent-month next-month calendar-day-2015-10-01"><div class="day-contents">1</div></td><td class="day adjacent-month next-month calendar-day-2015-10-02"><div class="day-contents">2</div></td><td class="day adjacent-month next-month calendar-day-2015-10-03"><div class="day-contents">3</div></td></tr></tbody></table></div></div>
            <div class="courses_box1-left">
                <form>
                    <div class="select-block1">
                        <select>
                            <option value="">Discipline</option>
                            <option value="">Discipline</option>
                            <option value="">Discipline</option>
                            <option value="">Discipline</option>
                            <option value="">Discipline</option>
                        </select>
                    </div>
                    <!-- select-block -->
                    <div class="select-block1">
                        <select>
                            <option value="">Duration</option>
                            <option value="">Duration</option>
                            <option value="">Duration</option>
                            <option value="">Duration</option>
                            <option value="">Duration</option>
                        </select>
                    </div>
                    <!-- select-block -->
                    <div class="select-block1">
                        <select>
                            <option value="">Level</option>
                            <option value="">Level</option>
                            <option value="">Level</option>
                            <option value="">Level</option>
                            <option value="">Level</option>
                        </select>
                    </div>
                    <!-- select-block -->
                    <div class="select-block1">
                        <select>
                            <option value="">Location</option>
                            <option value="">Location</option>
                            <option value="">Location</option>
                            <option value="">Location</option>
                            <option value="">Location</option>
                        </select>
                    </div>
                    <!-- select-block -->
                    <input type="submit" value="search" class="course-submit">
                </form>
            </div>
            <div class="social-widget">
                <h2>Connect with us</h2>
                <ul class="courses_social">
                    <li class="facebook-icon">
                        <div>
                            <a href="#" class="fa fa-facebook"></a>
                            <p>2154</p>
                        </div>
                    </li>
                    <li class="twitter-icon">
                        <div>
                            <a href="#" class="fa fa-twitter"></a>
                            <p>1425</p>
                        </div>
                    </li>
                    <li class="gplus-icon">
                        <div>
                            <a href="#" class="fa fa-google-plus"></a>
                            <p>2150</p>
                        </div>
                    </li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <section class="slider">
                <h3>Testimonial</h3>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-info1">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat quis nostrud.</p>
                                <h5><a href="#">Laoreet ,</a>Dateratr since 2015</h5>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info1">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, content of a page.</p>
                                <h5><a href="#">Distracted ,</a>Dateratr since 2015</h5>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info1">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of usin but the majority.</p>
                                <h5><a href="#">Suffered ,</a>Dateratr since 2015</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <ul class="posts">
                <h3>Recent Posts</h3>
                <li>
                    <article class="entry-item">
                        <div class="entry-thumb pull-left">
                            <img src="images/t7.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="entry-content">
                            <h6><a href="#">Established</a></h6>
                            <p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
                        </div>
                        <div class="clearfix"> </div>
                    </article>
                </li>
                <li>
                    <article class="entry-item">
                        <div class="entry-thumb pull-left">
                            <img src="images/t17.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="entry-content">
                            <h6><a href="#">Established</a></h6>
                            <p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
                        </div>
                        <div class="clearfix"> </div>
                    </article>
                </li>
                <li>
                    <article class="entry-item">
                        <div class="entry-thumb pull-left">
                            <img src="images/t16.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="entry-content">
                            <h6><a href="#">Established</a></h6>
                            <p><a href="#">Admin</a> &nbsp;/&nbsp; 30 Dec 2015</p>
                        </div>
                        <div class="clearfix"> </div>
                    </article>
                </li>
            </ul>
        </div>
        <div class="col-md-8 detail">
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e1.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e2.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e3.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e1.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e2.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e3.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-page">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="event-img">
                            <a href="event_single.html"><img src="images/e1.jpg" class="img-responsive" alt=""/></a>
                            <div class="over-image"></div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 event-desc">
                        <h2><a href="event_single.html">Aliquam Quaerat Voluptatem</a></h2>
                        <div class="event-info-text">
                            <div class="event-info-middle"><p style="display:inline;"><span class="event-bold">Speakers : &nbsp;</span></p>
                                <ul class="event-speakers" style="display:inline">
                                    <li><a href="event_single.html">Handful</a></li>
                                    <li><a href="event_single.html">Renaissance</a></li>
                                    <li><a href="event_single.html">Doloremque</a></li>
                                    <li><a href="event_single.html">Temporibus</a></li>
                                </ul>
                                <p><span class="event-bold">Date : &nbsp;</span>Dec 01, 2015 - Dec 09, 2015</p>
                                <p><span class="event-bold">Time : &nbsp;</span>09:22 AM - 05:16 AM</p>
                                <p><span class="event-bold">Location : &nbsp;</span>Masko, Russia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination event_pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
{% endblock %}