{% extends 'base.html' %}
{% block contenido %}
{% load cloudinary %}

  <!-- banner -->
<div class="courses_banner">
    <div class="container">
        <h3>Nosotros</h3>
        <p class="description">
            Tus valores definen quien eres realmente. Tu identidad real es la suma total de tus valores.-Assegid Habtewold.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Nosotros</li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
{% for nosotros in nosotros %}
<div class="courses_box1">
    <div class="container">
        <div class="col-md-6 about_left">
            <h1>Nosotros</h1>
            <p>{{nosotros.descripcion}}</p>
            <ul class="about_links">
                <li><a href="#">{{nosotros.listas1}}</a></li>
                <li><a href="#">{{nosotros.listas2}}</a></li>
                <li><a href="#">{{nosotros.listas3}}</a></li>
            </ul>
            <a href="#" class="radial_but">Read More</a>
        </div>
        <div class="col-md-6">
             {% cloudinary nosotros.nosotros_img NOSOTROS %}
        </div>
        <div class="clearfix"> </div>
    </div>
    {% endfor %}
</div>
<div class="bg_1">
    <div class="container">
        <h2>GRUPO GUTLEBEN</h2>
        {% for team in team %}
        <div class="col-md-3 team_grid">
            <div class="team">
                {% cloudinary team.imagen_perfil TEAM %}
                <div class="team_box">
                    <h3>{{team.nombre}}</h3>
                    <p>{{team.descripcion}}</p>
                    <ul class="team-socials">
                        <li><a href="{{team.facebook}}"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                        <li><a href="{{team.twitter}}"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                        <li><a href="{{team.google}}"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"> </div>
    </div>
</div>
<div class="advantage">
    <h3>Advantages</h3>
    <div class="container">
        <div class="col-md-4 box_1">
            <div class="list styled custom-list custom-list1">
                <ul>
                    <li><span class="dropcap">1.</span>
                        <div class="item_content">
                            <h5><a href="#">nunc nobis videntur parum</a></h5>
                            <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                            <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 box_1">
            <div class="list styled custom-list custom-list1">
                <ul>
                    <li><span class="dropcap">2.</span>
                        <div class="item_content">
                            <h5><a href="#">nunc nobis videntur parum</a></h5>
                            <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                            <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 box_1">
            <div class="list styled custom-list custom-list1">
                <ul>
                    <li><span class="dropcap">3.</span>
                        <div class="item_content">
                            <h5><a href="#">nunc nobis videntur parum</a></h5>
                            <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                            <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
 {% endblock %}