{% extends 'base_principal.html' %}
{% block contenido %}
{% load staticfiles %}
    {% load cloudinary %}

   <div class="clear"></div>


    <div id="page-content-title">
        <div id="page-content-header" class="container_24">
            <div id="page-title">
                <h1>Noticias</h1>
            </div>
            <!-- end page-title -->
        </div>
        <!-- end page-content-header -->
    </div>
    <!-- end page-content-title -->

    <div class="clear"></div>

    <div id="page-content">
        <div class="container_24">
            <p class="breadcrumbs"><span class="breadcrumb_info">Usted está en: </span> <a href="/">Inicio</a><span class="breadarrow"> &raquo; </span><span class='current_crumb'>Noticias </span></p>			</div>



        <div id="content-container" class="container_24">
            <div id="main-content" class="grid_16">
                <div class="main-content-padding">
                    <div class="post" id="post-57">
                        <div class="entry">
                            <h3><p><strong>Noticias</strong></p></h3>
                        </div>
                    </div>
                    <div class="clear"></div>




                    <div class="clear"></div>
  <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <!-- /.row -->

        <!-- Projects Row -->
 {% for noticiasadmin in noticiasadmin %}
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
{% cloudinary noticiasadmin.image NOTICIAS %}
                </a>
                <h3>
                    <a href="#">{{noticiasadmin.titulo}}</a>
                </h3>
                <p>
               {{noticiasadmin.descripcion}}
                </p>
            </div>


        </div>
         {% endfor %}
        <!-- /.row -->



        <!-- Pagination -->

    <!-- /.container -->

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

</body>
                    <p></p>
                </div><!-- end main-content-padding -->
            </div><!-- end main-content -->

            <div class="clear"></div>



        </div><!-- end page-content -->

{% endblock %}