{% extends 'base.html' %}
{% block contenido %}
{% load cloudinary %}

  <div class="banner">
        <!-- banner Slider starts Here -->
        <script src="{{STATIC_URL}}js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <!--//End-slider-script -->
        <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner-bg">
                        <div class="container">
                            <div class="banner-info">
                                <h3>Bienvenidos</span></h3>
                                <p>Inspirado en promover una cultura con valores
                                </p>
                                <a href="courses.html"><i class="fa fa-thumbs-up icon_1" style="font-size: 20px; transition: color 0.2s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px 2px 0px 0px; margin: 0px; padding:0px 10px 0 0; letter-spacing: 0px;"></i>Imagenes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-bg banner-img2">
                        <div class="container">
                            <div class="banner-info">
                                <h3>Stay in touch<span>Lo más leído</span></h3>
                                <p>lalala1.
                                </p>
                                <a href="courses.html"><i class="fa fa-thumbs-up icon_1" style="font-size: 20px; transition: color 0.2s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px 2px 0px 0px; margin: 0px; padding:0px 10px 0 0; letter-spacing: 0px;"></i>Ver los cursos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-bg banner-img">
                        <div class="container">
                            <div class="banner-info">
                                <h3>ESTA EN INDEX H3! </span></h3>
                                <p>AQUI DEJA ESPACIO
                                    Y VUELVE A ESCRIBIR-INDEX!!!.
                                </p>
                                <a href="events.html"><i class="fa fa-thumbs-up icon_1" style="font-size: 20px; transition: color 0.2s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px 2px 0px 0px; margin: 0px; padding:0px 10px 0 0; letter-spacing: 0px;"></i>Ver próximos eventos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-bg">
                        <div class="container">
                            <div class="banner-info">
                                <h3>Poner H3 parte2<span>sigue H3 parte2</span></h3>
                                <p>Inspirado en H3 index!
                                    continua aqui.
                                </p>
                                <a href="events.html"><i class="fa fa-thumbs-up icon_1" style="font-size: 20px; transition: color 0.2s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px 2px 0px 0px; margin: 0px; padding:0px 10px 0 0; letter-spacing: 0px;"></i>Ver próximo eventos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-bg banner-img2">
                        <div class="container">
                            <div class="banner-info">
                                <h3> trivial example,<span>Quién escoge!</span></h3>
                                <p>parrafo que no entiendo4
                                    parrafo que no entiendo - sigue
                                </p>
                                <a href="events.html"><i class="fa fa-thumbs-up icon_1" style="font-size: 20px; transition: color 0.2s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px 2px 0px 0px; margin: 0px; padding:0px 10px 0 0; letter-spacing: 0px;"></i>Ver próximo eventos</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- //banner -->
    <div class="details">
        <div class="container">
            <div class="col-sm-10 dropdown-buttons">
                <div class="col-sm-3 dropdown-button">
                    <div class="input-group">
                        <input class="form-control has-dark-background" name="slider-name" id="slider-name" placeholder="Name" type="text" required="">
                    </div>
                </div>
                <div class="col-sm-3 dropdown-button">
                    <div class="input-group">
                        <input class="form-control has-dark-background" name="slider-name" id="slider-name" placeholder="Email" type="text" required="">
                    </div>
                </div>
                <div class="col-sm-3 dropdown-button">
                    <div class="section_1">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">Nivel de aprendizaje</option>
                            <option value="null">Grande</option>
                            <option value="AX">Avanzado</option>
                            <option value="AX">Intermedio</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 dropdown-button">
                    <div class="section_1">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">Cursos?</option>
                            <option value="null">Finanzas?</option>
                            <option value="AX">Marketing</option>
                            <option value="AX">Ciencia</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-sm-2 submit_button">
                <form>
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="grid_1">
        <div class="container">
            <div class="col-md-4">
                <div class="news">
                    <h1>News</h1>
                    <div class="section-content">
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>07-25-2015</figure>
                            <a href="#">Lalala2.</a>
                        </article>
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <a href="#">Lalala3.</a>
                        </article>
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <a href="#">Lalala4.</a>
                        </article>
                        <article>
                            <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                            <a href="#">Lalala5.</a>
                        </article>

                    </div><!-- /.section-content -->
                    <a href="#" class="read-more">Lo último</a>
                </div><!-- /.news-small -->
            </div>
            <div class="col-md-8 grid_1_right">
                <h2>Programs</h2>
                <div class="but_list">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
                            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Day 1&nbsp;&nbsp;&nbsp;31-08-2015</a></li>
                            <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Day 2&nbsp;&nbsp;&nbsp;01-09-2015</a></li>
                            <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Day 3&nbsp;&nbsp;&nbsp;05-09-2015</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala5</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala6!</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenido a la introducción</a></h3>
                                        <p>Lalala7. <a href="#">Leer más</a></p>
                                        <img src="{{STATIC_URL}}images/t9.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala8</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala9</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenida e Introducción</a></h3>
                                        <p>Lalala10 <a href="#">Leer más</a></p>
                                        <img src="{{STATIC_URL}}images/t5.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala11</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala12</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenida e introducción3</a></h3>
                                        <p>Lalala13 <a href="#">Read More</a></p>
                                        <img src="{{STATIC_URL}}images/t8.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala14</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala15</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenida e introducción4</a></h3>
                                        <p>Lalala16 <a href="#">Leer más</a></p>
                                        <img src="{{STATIC_URL}}images/t2.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala17</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala18</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenida e introducción5</a></h3>
                                        <p>Lalala19 <a href="#">Leer más</a></p>
                                        <img src="{{STATIC_URL}}images/t7.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="events_box">
                                    <div class="event_left"><div class="event_left-item">
                                            <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                                            <div class="icon_2"><i class="fa fa-location-arrow"></i>Lalala20</div>
                                            <div class="icon_2">
                                                <div class="speaker">
                                                    <i class="fa fa-user"></i>
                                                    <div class="speaker_item">
                                                        <a href="#">Lalala21</a>
                                                    </div>
                                                    <div class="clearfix"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event_right">
                                        <h3><a href="#">Bienvenida e introducción6</a></h3>
                                        <p>Lalala22.... <a href="#">Leer más</a></p>
                                        <img src="{{STATIC_URL}}images/t4.jpg" class="img-responsive" alt=""/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
            <div class="newsletter">
                <form>
                    <input type="text" name="ne" size="30" required="" placeholder="Por favor, completa tu email!">
                    <input type="submit" value="Subscribe!!">
                </form>
            </div>
        </div>
    </div>


    <div class="bottom_content">
        <h3>Nuestros Proyectos!</h3>
        {% for galeria in galeria %}
        <div class="grid_2">
            <div class="col-md-4 portfolio-left">
                <div class="portfolio-img event-img">
                    {% cloudinary galeria.imagen PROYECTOS %}
                    <div class="over-image"></div>
                </div>
                <div class="portfolio-description">
                    <h4><a href="#">{{proyecto.titulo}}</a></h4>
                    <p>{{proyecto.descripcion}}</p>
                <span>
                 <p>

                 </p>
                </span>
                    <a href="events.html">
                        <span><i class="fa fa-chain chain_1"></i>Ver Proyectos!!</span>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
{% endfor %}
            <div class="grid_2">
 {% endblock %}
