{% extends 'base_principal.html' %}
{% block contenido %}
{% load staticfiles %}
<div id="page-content-title">
        <div id="page-content-header" class="container_24">
            <div id="page-title">
                <h1>Karate</h1>
            </div>
            <!-- end page-title -->
        </div>
        <!-- end page-content-header -->
    </div>
    <!-- end page-content-title -->

    <div class="clear"></div>

    <div id="page-content">
        <div class="container_24">
            <p class="breadcrumbs"><span class="breadcrumb_info">Usted está en: </span> <a href="/">Inicio</a><span class="breadarrow"> &raquo; </span><a href="/">Talleres</a><span class="breadarrow"> &raquo; </span><span class='current_crumb'>Karate </span></p>			</div>




        <div id="content-container" class="container_24">
            <div id="main-content" class="grid_16 push_8">
                <div class="main-content-padding">

                    <div class="post" id="post-49">
                        <div class="entry">
                            <p style="text-align: justify;"><a href="{% static '' %}images/titlekarate.png" rel="wp-prettyPhoto[49]"><img class="size-full wp-image-135 aligncenter" src="{% static '' %}images/titlekarate.png" alt="titlekarate" width="431" height="110" /></a><br />
                            </p>
                            <p><img class="size-full wp-image-108 aligncenter" src="{% static '' %}images/ka1.png" alt="karate" swidth="350" height="270" /></p>
                            <p>Técnicas</p>
                            <ul>
                                <li>karate -san antonio de padua karate -san antonio de PADUAkarate -san antonio de padua karate -san antonio de padua</li>
                                <li>karate -san antonio de padua karate -san antonio de padua karate -san antonio de padua karate -san antonio de padua</li>
                                <li>karate -san antonio de padua karate -san antonio de paduakarate -san antonio de PADUA </li>

                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div><!-- end main-content-padding -->
            </div><!-- end main-content -->


            <div id="sidebar" class="grid_8 pull_16 sidebar-box">
                <div id="sidebarSubnav">

                    <div id="subpages-widget-3" class="widget widget_subpages custom-formatting">			    <h3>Talleres</h3>
                        <ul>
                            <li class="page_item page-item-42"><a href="talleres/computacion">Computación</a></li>
                            <li class="page_item page-item-40"><a href="talleres/educacion-fisica">Educación Física</a></li>
                            <li class="page_item page-item-47"><a href="talleres/ingles">Inglés Intensivo</a></li>
                            <li class="page_item page-item-49 current_page_item"><a href="talleres/karate">Karate</a></li>
                            <li class="page_item page-item-45 "><a href="talleres/ballet">Ballet</a></li>
                        </ul>

                    </div>	    </div>
                <!-- end sidebarSubnav -->
            </div>
            <!-- end sidebar -->



        </div><!-- end content-container -->
    {% endblock %}