{% extends 'base_principal.html' %}
{% block contenido %}
{% load staticfiles %}
   <div id="page-content-title">
        <div id="page-content-header" class="container_24">
            <div id="page-title">
                <h1>Educación Física</h1>
            </div>
            <!-- end page-title -->
        </div>
        <!-- end page-content-header -->
    </div>
    <!-- end page-content-title -->

    <div class="clear"></div>

    <div id="page-content">
        <div class="container_24">
            <p class="breadcrumbs"><span class="breadcrumb_info">Usted está en: </span> <a href="../../index.html">Inicio</a><span class="breadarrow"> &raquo; </span><a href="../index.html">Talleres</a><span class="breadarrow"> &raquo; </span><span class='current_crumb'>Educación Física </span></p>			</div>




        <div id="content-container" class="container_24">
            <div id="main-content" class="grid_16 push_8">
                <div class="main-content-padding">

                    <div class="post" id="post-40">
                        <div class="entry">
                            <p><a href="{% static '' %}images/titleedufisica.png" rel="wp-prettyPhoto[40]"><img class="size-full wp-image-129 aligncenter" src="{% static '' %}images/titleedufisica.png" alt="titleedufisica" width="431" height="110" /></a></p>
                            <h3>Educación Psicomotora Nivel Inicial.</h3>
                            <p style="text-align: justify;">En SAN ANTONIO DE PADUA brinda grandes oportunidades en el desarrollo de educación Física para poder trabajar directa y sistemáticamente en el proceso educativo de cada niño (a) a través del movimiento del cuerpo acompañado de muchas actividades. En el caso del nivel de educación preescolar, la clase de educación Física resultas de una muy particular importancia ya que al ponerla en práctica adecuadamente y con los suficientes cuidados por parte de la profesora que imparta dicha clase, ayuda y contribuye a la vez a que el niño se desarrolle y se consolide para su desarrollo físico &#8211; motriz, social, psicológico, cognoscitivo en una forma armoniosa e integral.</p>
                            <p><img class="size-full wp-image-108 aligncenter" src="{% static '' %}images/ed1.png" alt="ed - fisica" width="350" height="270" /></p>
                            <h3>Educación Física Educación Primaria y Secundaria.</h3>
                            <p style="text-align: justify;">A través de la Educación Física, el niño expresa su espontaneidad, fomenta su creatividad y sobretodo permite conocer, respetar y valorarse a sí mismo y a los demás. Por ello, es indispensable la variedad y vivencia de las diferentes actividades en el juego, lúdica, recreación y deporte para implementarlas continuamente, sea en clase o mediante proyectos lúdico-pedagógicos.</p>
                            <p style="text-align: justify;">Desde esta perspectiva, podemos acabar delimitando el Karate Infantil como el conjunto de ejercicios que, con base fundamental en los gestos del Karate tradicional y deportivo, tienen su campo de aplicación en la niñez, y que se orientan a ayudar al pequeño a conocer las características, facultades y posibilidades de su propio cuerpo para el movimiento, valiéndose del juego, la psicomotricidad y la expresión dinámica, como medio para favorecer su pleno desarrollo como persona.</p>
                            <p><img class="size-full wp-image-108 aligncenter" src="{% static '' %}images/ed2.png" alt="ed - fisica" width="350" height="270" /></p>
                            <p><img class="size-full wp-image-108 aligncenter" src="{% static '' %}images/ed3.png" alt="ed - fisica" width="350" height="270" /></p>
                            <h4><p style="text-align: justify;">Aeróbicos.</p></h4>
                            <p style="text-align: justify;">El aeróbic nos trae el concepto del entrenamiento de la condición Física, orientado a la salud y al bienestar físico, psicológico y social. En el aeróbic no sólo encontramos una opción de actividad Física divertida, básicamente es una cuidadosamente diseñada técnica de entrenamiento físico que puede adaptarse con facilidad y utilizarse en diferentes situaciones, con objetivos tan diversos como quemar calorías, mejorar tu capacidad cardiorrespiratoria, tonificar tu musculatura o todo a la vez ¿Su secreto? La combinación de teoría y práctica amenizada con música.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div><!-- end main-content-padding -->
            </div><!-- end main-content -->



                    <div id="subpages-widget-3" class="widget widget_subpages custom-formatting">			    <h3>Talleres</h3>
                        <ul>
                            <li class="page_item page-item-42 current_page_item"><a href="talleres/computacion">Computación</a></li>
                            <li class="page_item page-item-40"><a href="talleres/educacion-fisica">Educación Física</a></li>
                            <li class="page_item page-item-47"><a href="talleres/ingles">Inglés Intensivo</a></li>
                            <li class="page_item page-item-49"><a href="talleres/karate">Karate</a></li>
                            <li class="page_item page-item-45 "><a href="talleres/ballet">Ballet</a></li>
                        </ul>

                    </div>	    </div>
            <!-- end sidebar -->



        </div><!-- end content-container -->
    {% endblock %}